# Ignore node_modules folder
node_modules/

# Ignore environment variable files
.env

# Ignore npm debug log
npm-debug.log

# Ignore macOS system files
.DS_Store

# Ignore VSCode settings folder
.vscode/

# Ignore test coverage directory (if using coverage tools like Istanbul)
coverage/
